<div class="inmodal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">X</button>
        <h4 class="modal-title">RACI Team</h4>
        <small class="font-bold"></small>
    </div>
    <div class="modal-body">
<div class="wrapper wrapper-content  animated fadeInRight" ng-controller="raciTeam">
    <input type="text" class="form-control" placeholder="RACI Team Name">
<div class="input-group col-lg-12">     
<div class="col-lg-6">
            <div class="ibox">
                <div class="ibox-content">
                    <h3>RACI Team</h3>   
                    <div class="well" style="border:2px">    
                   <ul ui-sortable="sortableOptions" class="sortable-list connectList" ng-model="RACITeam">
                        <ol ng-class="" ng-repeat="user in RACITeam">                                                                                   
                         <img alt="member" class="img-circle" src="{{user.img}}">                                                       
                        </ol>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-6">
            <div class="ibox">
                <div class="ibox-content">
                    <h3>Available Users</h3>
                    <p class="small"><i class="fa fa-hand-o-up"></i> Drag between list</p>
                    <ul ui-sortable="sortableOptions" class="sortable-list connectList" ng-model="AvailableUsers">                        
                        <li style="display: inline-block;" ng-class="" ng-repeat="user in AvailableUsers">                                               
                           <img alt="member" class="img-circle" src="{{user.img}}">                                                    
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="save()">Save changes</button>
        </div>
    </div>