<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>RACI Team</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Design</a>
            </li>
            <li class="active">
                <strong>RACI Team</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="raciTeam">
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">NEW</span>
                    <h5>GBFB-01 - Distribution Team</h5>
                </div>
                <div class="ibox-content">
                    <div class="team-members">
                        <img alt="member" class="img-circle" src="img/CB.png">
                        <img alt="member" class="img-circle" src="img/RD.png">
                        <img alt="member" class="img-circle" src="img/EK.png">                       
                    </div>
                    <h4>Info about Distribution Team</h4>
                    <p>
                        Responsible: Chithralekha Bhagwath.
                        Accountable: Ed.
                        Consulted: Robert.
                        Informed: Mike.
                    </p>
                    <div>
                        <span>Status of current project:</span>
                        <div class="stat-percent">48%</div>
                        <div class="progress progress-mini progress-striped active m-b-sm">
                            <div style="width: 48%;" class="progress-bar"></div>
                        </div>
                    </div>
                    <div class="row  m-t-sm">
                        <div class="col-sm-4">
                            <div class="font-bold">PROJECTS</div>
                            12
                        </div>
                        <div class="col-sm-4">
                            <div class="font-bold">RANKING</div>
                            4th
                        </div>                        
                        <div class="col-sm-4 text-right">
                            <button type="button" class="btn btn-xs btn-info" ng-click="openFilterDialog(Name,DueStatus,AssignedTo,WorkingSet,NistCF,NistBaseline)">Edit <i class="fa fa-pencil"></i></button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="ibox">
                <div class="ibox-title">
                    <h5>GBFB-02 - Control Team</h5>
                </div>
                <div class="ibox-content">
                    <div class="team-members">
                        <img alt="member" class="img-circle" src="img/LB.png">
                        <img alt="member" class="img-circle" src="img/NG.png">
                        <img alt="member" class="img-circle" src="img/EK.png">                        
                    </div>
                    <h4>Info about Control Team</h4>
                    <p>
                       Responsible: Ed.
                        Accountable: Nela.
                        Consulted: Robert.
                        Informed: Leroy.
                    </p>
                    <div>
                        <span>Status of current project:</span>
                        <div class="stat-percent">32%</div>
                        <div class="progress progress-mini progress-striped active m-b-sm">
                            <div style="width: 32%;" class="progress-bar"></div>
                        </div>
                    </div>
                    <div class="row  m-t-sm">
                        <div class="col-sm-4">
                            <div class="font-bold">PROJECTS</div>
                            24
                        </div>
                        <div class="col-sm-4">
                            <div class="font-bold">RANKING</div>
                            3th
                        </div>
                        <div class="col-sm-4 text-right">
                            <button type="button" class="btn btn-xs btn-info" ng-click="openFilterDialog(Name,DueStatus,AssignedTo,WorkingSet,NistCF,NistBaseline)">Edit <i class="fa fa-pencil"></i></button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="ibox">
                <div class="ibox-title">
                    <h5>GBFB-07 - Finance Team</h5>
                </div>
                <div class="ibox-content">
                    <div class="team-members">
                        <img alt="member" class="img-circle" src="img/RD.png">
                        <img alt="member" class="img-circle" src="img/EK.png">
                        <img alt="member" class="img-circle" src="img/LB.png">
                    </div>
                    <h4>Info about Finance Team</h4>
                    <p>
                        Responsible: Chithralekha Bhagwath.
                        Accountable: Ed.
                        Consulted: Robert.
                        Informed: Mike.
                    </p>
                    <div>
                        <span>Status of current project:</span>
                        <div class="stat-percent">73%</div>
                        <div class="progress progress-mini progress-striped active m-b-sm">
                            <div style="width: 73%;" class="progress-bar"></div>
                        </div>
                    </div>
                    <div class="row  m-t-sm">
                        <div class="col-sm-4">
                            <div class="font-bold">PROJECTS</div>
                            11
                        </div>
                        <div class="col-sm-4">
                            <div class="font-bold">RANKING</div>
                            6th
                        </div>
                        <div class="col-sm-4 text-right">
                            <button type="button" class="btn btn-xs btn-info" ng-click="openFilterDialog(Name,DueStatus,AssignedTo,WorkingSet,NistCF,NistBaseline)">Edit <i class="fa fa-pencil"></i></button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>GBFB-11 - Developers Team</h5>
                </div>
                <div class="ibox-content">
                    <div class="team-members">
                        <img alt="member" class="img-circle" src="img/RD.png">
                        <img alt="member" class="img-circle" src="img/LB.png">
                        <img alt="member" class="img-circle" src="img/EK.png">
                    </div>
                    <h4>Info about Developers Team</h4>
                    <p>
                       Responsible: Chithralekha Bhagwath.
                        Accountable: Ed.
                        Consulted: Nela.
                        Informed: Mike.
                    </p>
                    <div>
                        <span>Status of current project:</span>
                        <div class="stat-percent">61%</div>
                        <div class="progress progress-mini progress-striped active m-b-sm">
                            <div style="width: 61%;" class="progress-bar"></div>
                        </div>
                    </div>
                    <div class="row  m-t-sm">
                        <div class="col-sm-4">
                            <div class="font-bold">PROJECTS</div>
                            43
                        </div>
                        <div class="col-sm-4">
                            <div class="font-bold">RANKING</div>
                            1th
                        </div>
                        <div class="col-sm-4 text-right">
                           <button type="button" class="btn btn-xs btn-info" ng-click="openFilterDialog(Name,DueStatus,AssignedTo,WorkingSet,NistCF,NistBaseline)">Edit <i class="fa fa-pencil"></i></button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="ibox">
                <div class="ibox-title">
                    <span class="label label-warning pull-right">DEADLINE</span>
                    <h5>GBFB-05 - Administration Team</h5>
                </div>
                <div class="ibox-content">
                    <div class="team-members">
                        <img alt="member" class="img-circle" src="img/RD.png">
                        <img alt="member" class="img-circle" src="img/EK.png">
                        <img alt="member" class="img-circle" src="img/NG.png">
                        <img alt="member" class="img-circle" src="img/CB.png">
                        <img alt="member" class="img-circle" src="img/VT.png">                       
                    </div>
                    <h4>Info about Administration Team</h4>
                    <p>
                        Responsible: Robert.
                        Accountable: Ed.
                        Consulted: Nela.
                        Informed: Mike.
                    </p>
                    <div>
                        <span>Status of current project:</span>
                        <div class="stat-percent">14%</div>
                        <div class="progress progress-mini progress-striped active m-b-sm">
                            <div style="width: 14%;" class="progress-bar"></div>
                        </div>
                    </div>
                    <div class="row  m-t-sm">
                        <div class="col-sm-4">
                            <div class="font-bold">PROJECTS</div>
                            8
                        </div>
                        <div class="col-sm-4">
                            <div class="font-bold">RANKING</div>
                            7th
                        </div>
                        <div class="col-sm-4 text-right">
                            <button type="button" class="btn btn-xs btn-info" ng-click="openFilterDialog(Name,DueStatus,AssignedTo,WorkingSet,NistCF,NistBaseline)">Edit <i class="fa fa-pencil"></i></button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="ibox">
                <div class="ibox-title">
                    <h5>GBFB-08 - Design Team</h5>
                </div>
                <div class="ibox-content">
                    <div class="team-members">
                        <img alt="member" class="img-circle" src="img/VT.png">
                        <img alt="member" class="img-circle" src="img/RD.png">                      
                    </div>
                    <h4>Info about Design Team</h4>
                    <p>
                        Responsible: Chithralekha Bhagwath.
                        Accountable: Ed.
                        Consulted: Robert.
                        Informed: Mike.
                    </p>
                    <div>
                        <span>Status of current project:</span>
                        <div class="stat-percent">25%</div>
                        <div class="progress progress-mini progress-striped active m-b-sm">
                            <div style="width: 25%;" class="progress-bar"></div>
                        </div>
                    </div>
                    <div class="row  m-t-sm">
                        <div class="col-sm-4">
                            <div class="font-bold">PROJECTS</div>
                            25
                        </div>
                        <div class="col-sm-4">
                            <div class="font-bold">RANKING</div>
                            4th
                        </div>
                        <div class="col-sm-4 text-right">
                            <button type="button" class="btn btn-xs btn-info" ng-click="openFilterDialog(Name,DueStatus,AssignedTo,WorkingSet,NistCF,NistBaseline)">Edit <i class="fa fa-pencil"></i></button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title">

                    <h5>GBFB-10 - QA Team</h5>
                </div>
                <div class="ibox-content">
                    <div class="team-members">
                        <img alt="member" class="img-circle" src="img/VT.png">
                        <img alt="member" class="img-circle" src="img/NG.png">
                        <img alt="member" class="img-circle" src="img/EK.png">                       
                    </div>
                    <h4>Info about QA Team</h4>
                    <p>
                       Responsible: Chithralekha Bhagwath.
                        Accountable: Ed.
                        Consulted: Robert.
                        Informed: Mike.
                    </p>
                    <div>
                        <span>Status of current project:</span>
                        <div class="stat-percent">82%</div>
                        <div class="progress progress-mini progress-striped active m-b-sm">
                            <div style="width: 82%;" class="progress-bar"></div>
                        </div>
                    </div>
                    <div class="row  m-t-sm">
                        <div class="col-sm-4">
                            <div class="font-bold">PROJECTS</div>
                            68
                        </div>
                        <div class="col-sm-4">
                            <div class="font-bold">RANKING</div>
                            2th
                        </div>
                        <div class="col-sm-4 text-right">
                            <button type="button" class="btn btn-xs btn-info" ng-click="openFilterDialog(Name,DueStatus,AssignedTo,WorkingSet,NistCF,NistBaseline)">Edit <i class="fa fa-pencil"></i></button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="ibox">
                <div class="ibox-title">
                    <h5>GBFB-06 - Standard  Team</h5>
                </div>
                <div class="ibox-content">
                    <div class="team-members">
                        <img alt="member" class="img-circle" src="img/CB.png">
                        <img alt="member" class="img-circle" src="img/EK.png">
                        <img alt="member" class="img-circle" src="img/VT.png">                        
                    </div>
                    <h4>Info about Standard  Team</h4>
                    <p>
                       Responsible: Chithralekha Bhagwath.
                        Accountable: Ed.
                        Consulted: Robert.
                        Informed: Mike.
                    </p>
                    <div>
                        <span>Status of current project:</span>
                        <div class="stat-percent">26%</div>
                        <div class="progress progress-mini progress-striped active m-b-sm">
                            <div style="width: 26%;" class="progress-bar"></div>
                        </div>
                    </div>
                    <div class="row  m-t-sm">
                        <div class="col-sm-4">
                            <div class="font-bold">PROJECTS</div>
                            16
                        </div>
                        <div class="col-sm-4">
                            <div class="font-bold">RANKING</div>
                            8th
                        </div>
                        <div class="col-sm-4 text-right">
                            <button type="button" class="btn btn-xs btn-info" ng-click="openFilterDialog(Name,DueStatus,AssignedTo,WorkingSet,NistCF,NistBaseline)">Edit <i class="fa fa-pencil"></i></button>
                        </div>
                    </div>

                </div>
            </div>
<!--
            <div class="ibox">
                <div class="ibox-title">
                    <h5>IT-09 - Modern Team</h5>
                </div>
                <div class="ibox-content">
                    <div class="team-members">
                        <a href="#"><img alt="member" class="img-circle" src="img/a2.jpg"></a>
                        <a href="#"><img alt="member" class="img-circle" src="img/a3.jpg"></a>
                        <a href="#"><img alt="member" class="img-circle" src="img/a8.jpg"></a>
                        <a href="#"><img alt="member" class="img-circle" src="img/a6.jpg"></a>
                        <a href="#"><img alt="member" class="img-circle" src="img/a7.jpg"></a>
                    </div>
                    <h4>Info about Design Team</h4>
                    <p>
                        Words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in.
                    </p>
                    <div>
                        <span>Status of current project:</span>
                        <div class="stat-percent">18%</div>
                        <div class="progress progress-mini">
                            <div style="width: 18%;" class="progress-bar"></div>
                        </div>
                    </div>
                    <div class="row  m-t-sm">
                        <div class="col-sm-4">
                            <div class="font-bold">PROJECTS</div>
                            53
                        </div>
                        <div class="col-sm-4">
                            <div class="font-bold">RANKING</div>
                            9th
                        </div>
                        <div class="col-sm-4 text-right">
                            <div class="font-bold">BUDGET</div>
                            $60,140 <i class="fa fa-level-up text-navy"></i>
                        </div>
                    </div>

                </div>
            </div>
-->
        </div>
    </div>


</div>