<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            
            <li class="nav-header">
                <div class="profile-element" uib-dropdown ng-controller="userProfile">
                    <img alt="image" class="img-circle" src="img/CB.png"/>
                    <a uib-dropdown-toggle href>
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">{{userName}}</strong>
                            </span>
                            <span class="text-muted text-xs block">{{currentUserRoles}} <b class="caret"></b></span>
                            </span>
                    </a>
                    <ul uib-dropdown-menu class="animated fadeInRight m-t-xs">
                        <li><a ui-sref="app.profile">Profile</a></li>
                        <li class="divider"></li>
                        <li><a ui-sref="login">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    TaskBoard+
                </div>
            </li>
            <!-- TaskBoard [Roles : System, Debugger, Administrator, TaskBoardUser, TaskBoardUserReadOnly ]-->
            <li ng-class="{active: $state.includes('miscellaneous')}">
                <a href="#"><i class="fa fa-tasks"></i> <span class="nav-label">{{ 'Task Board' | translate }}</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('miscellaneous')}" ng-controller="businessControlProfile">
                    <li ng-class="navClass(item)" ng-repeat="item in businessControlProfileList"><a ui-sref="miscellaneous.task_board({filterText: 1, bcp: item.workingSetId})">{{item.name}}</a></li>              
                </ul>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('miscellaneous')}" ng-controller="sideBar">
                    <li><a href="#">Filters <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level collapse" ng-model = "filtersList1">
                            <li ng-class="navClass(filter)" ng-repeat="filter in filtersList1"><a ui-sref="{filterText: filter.filterId}">{{filter.filterName}}
                                <span class="badge" style="margin-left:2em; float:right">{{numberOfTasksByFilterName(filter)}}</span> </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            
        </ul>
    </div>
</nav>